IO_LOC  "LED_Mode_Step[1]" 75;
IO_PORT "LED_Mode_Step[1]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "LED_Mode_Step[0]" 74;
IO_PORT "LED_Mode_Step[0]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "LED_Mode[2]" 70;
IO_PORT "LED_Mode[2]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "LED_Mode[1]" 71;
IO_PORT "LED_Mode[1]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "LED_Mode[0]" 72;
IO_PORT "LED_Mode[0]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "DDS_Out[11]" 34;
IO_PORT "DDS_Out[11]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "DDS_Out[10]" 33;
IO_PORT "DDS_Out[10]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "DDS_Out[9]" 30;
IO_PORT "DDS_Out[9]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "DDS_Out[8]" 29;
IO_PORT "DDS_Out[8]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "DDS_Out[7]" 28;
IO_PORT "DDS_Out[7]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "DDS_Out[6]" 27;
IO_PORT "DDS_Out[6]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "DDS_Out[5]" 26;
IO_PORT "DDS_Out[5]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "DDS_Out[4]" 25;
IO_PORT "DDS_Out[4]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "DDS_Out[3]" 39;
IO_PORT "DDS_Out[3]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "DDS_Out[2]" 36;
IO_PORT "DDS_Out[2]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "DDS_Out[1]" 37;
IO_PORT "DDS_Out[1]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "DDS_Out[0]" 38;
IO_PORT "DDS_Out[0]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "Dac_Clk" 40;
IO_PORT "Dac_Clk" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "Ext_Btn_Rot_C" 57;
IO_PORT "Ext_Btn_Rot_C" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "Ext_Rot_B" 68;
IO_PORT "Ext_Rot_B" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "Ext_Rot_A" 69;
IO_PORT "Ext_Rot_A" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "ExtBtn" 3;
IO_PORT "ExtBtn" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "Ext_RESETn" 4;
IO_PORT "Ext_RESETn" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "Ext_Clk" 52;
IO_PORT "Ext_Clk" IO_TYPE=LVCMOS18 PULL_MODE=UP;
